<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic survival prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .form-select{
            padding: 5px;
            padding-right: 400px;
        }
    </style>
</head>
<body>
    <h1 class="font-weight-regular text-center">Titanic Survival Prediction</h1>
    <div class="container">
        <br>
        <div class="col-sm-6 m-auto">
            <form action="{% url 'predict_survival' %}" method="post" class="bg-light">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Pclass" class="font-weight-regular">Passenger class:</label><br>
                    <!--<input type="number" id="Pclass" name="Pclass" class="form-control" required>-->
                    <select name="Pclass" id="Pclass" class="form-select">
                        <option selected>Select a value</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Sex" class="font-weight-regular">Gender</label>
                    <!--<input type="number" id="Sex" name="Sex" class="form-control">-->
                    <select name="Sex" id="Sex" class="form-select">
                        <option selected>Select a value</option>
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Age" class="font-weight-regular">Age:</label>
                    <input type="number" id="Age" name="Age" class="form-control">
                </div>
                <div class="form-group">
                    <label for="SibSp" class="font-weight-regular">SibSp:</label>
                    <input type="number" id="SibSp" name="SibSp" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Parch" class="font-weight-regular">Parch:</label>
                    <input type="number" id="Parch" name="Parch" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Fare" class="font-weight-regular">Fare:</label>
                    <input type="text" id="Fare" name="Fare" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Embarked" class="font-weight-regular">Embarked</label>
                    <!--<input type="number" id="Embarked" name="Embarked" class="form-control">-->
                    <select name="Embarked" id="Embarked" class="form-select">
                        <option selected>Select a value</option>
                        <option value="0">Cherbourg</option>
                        <option value="1">Queenstown</option>
                        <option value="2">Southampton</option>
                    </select>
                </div>
                <input type="submit" value="predict" class="btn btn-primary">
            </form>
            <br><br>
        </div>
    </div>
</body>
</html>